body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

button {
  margin: 10px 0;
}

input {
  margin-left: 5px;
}

.deviceEntryDiv > p {
  width: 100%;
  margin-bottom: 0;
}

.deviceEntryDiv > button {
  margin-left: 5px;
}
